dist
bin/*
!bin/.gitkeep
!bin/lib/
!bin/lib/platform.sh
!bin/wifi-enable
!bin/wifi-enabled
!bin/on-boot
!bin/miyoomini/iw
!bin/zero28
!bin/zero28/*
!bin/arm64
!bin/arm64/wpa_supplicant
!bin/arm64/wpa_cli
!bin/arm64/busybox
res/fonts/*
!res/fonts/.gitkeep
